header{
    position: relative;
    padding: 20px;
    display: block;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: sans-serif;
}
li{
    cursor: pointer;
}
